{% extends 'partials/base.html' %}
{% block title %}Supplier List{% endblock %}

{% block content %}
  {% include 'partials/topside.html' %}

  <div class="container mt-4">
    <h3 class="mb-4">Invoice List</h3>

    <table class="table table-striped bg-white">
      <thead class="bg-info text-white">
        <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Invoice No</th>
          <th scope="col">PDF</th>
          <th scope="col">Year</th>
          <th scope="col">Month</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoice_list %}
          <tr>
            <td>{{ invoice.pdf_name }}</td>
            <td>{{ invoice.invoice_no }}</td>
            <td><a href="{{ invoice.pdf_file.url }}" target="_blank">View PDF</a></td>
            <td>{{ invoice.year }}</td>
            <td>{{ invoice.month }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}