{% extends 'partials/base.html' %}
{% block title %}Supplier List{% endblock %}

{% block content %}
  {% include 'partials/topside.html' %}

  <div class="container mt-4">
    <h3 class="mb-4">Supplier List</h3>

    <table class="table table-striped bg-white">
      <thead class="bg-info text-white">
        <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Person</th>
          <th scope="col">Contact Phone</th>
          <th scope="col">Contact Email</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        {% for supplier in Supplier_list %}
          <tr>
            <td>{{ supplier.company_name }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.contact_number }}</td>
            <td>{{ supplier.contact_email }}</td>
            <td>{{ supplier.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}